@import "neat";

$neat-grid: (
	columns: 12,
	gutter: 10px
);

$max-xs: 0;
$max-sm: 543px;
$max-md: 767px;
$max-lg: 991px;
$max-xl: 1150px;

// Large Desktop
$large-desktop-grid: (
	media: 'screen and (min-width: ' + $max-xl + ')'
);

// Small Desktop
$small-desktop-grid: (
	media: 'screen and (min-width: ' + $max-lg + ') and (max-width: ' + $max-xl + ')'
);

// Desktop
$desktop-grid: (
	media: 'screen and (min-width: ' + $max-lg + ')'
);

// Tablet
$tablet-grid: (
	media: 'screen and (min-width: ' + $max-md + ') and (max-width: ' + $max-lg + ')'
);

// Tablet + Smarphone
$smartphone-tablet-grid: (
	media: 'screen and (max-width: ' + $max-lg + ')'
);

// Smartphone
$smartphone-grid: (
	media: 'screen and (max-width: ' + $max-md + ')',
	gutter: 15px
);
