<template>
	<button class="gi-button"
		:class="{
			'is-dark': dark
		}"
	>
		<span class="gi-button__prefix" v-if="prefix.length > 0">
			{{ prefix }}
		</span>

		<slot></slot>

		<span class="gi-button__suffix" v-if="suffix.length > 0">
			{{ suffix }}
		</span>
	</button>
</template>

<script>
	export default {
		props: {
			dark: {
				type: Boolean,
				default: false
			},
			prefix: {
				type: String,
				default: ''
			},
			suffix: {
				type: String,
				default: ''
			}
		}
	}
</script>

<style lang="sass">
	.gi-button{
		color: black;
		padding: 7px 20px;
		border: 1px solid orange;
		background: transparent;
		font-size: 13px;
		border-radius: 5px;
		cursor: pointer;
		&.is-dark{
			background: #898482;
			color: white;
			font-weight: 600;
		}
		&__prefix{
			display: inline-block;
			padding-right: 25px;
		}
		&__suffix{
			display: inline-block;
			padding-left: 25px;
		}
	}
</style>
