<template>
	<label class="gi-select">
		<span class="gi-select__label">
			{{ label }}
		</span>

		<select class="gi-select__input" :value="value" @input="onChange">
			<option
				v-for="option in options"
				:value="option.key"
			>
				{{ option.value }}
			</option>

			<option value="">
				dropdown box
			</option>
		</select>
	</label>
</template>

<script>
	export default {
		props: {
			label: {
				type: String,
				default: ''
			},
			value: {
				type: String,
				default: ''
			},
			options: {
				type: Array,
				default: () => []
			}
		},
		methods: {
			onChange(event) {
				this.$emit('input', event.target.value);
			}
		}
	}
</script>

<style lang="sass">
	.gi-select{
		display: flex;
		&__label{
			font-size: 13px;
			min-width: 150px;
			text-align: right;
			margin-right: 10px;
		}
		&__input{
			border-radius: 5px;
			border: 1px solid lightgrey;
			font-size: 13px;
			background: white;
			flex: 1;
			&:focus{
				background: #e8f0fe;
			}
		}

		@include grid-media($smartphone-grid){
			.gi-select{
				&__label{
					min-width: 100px;
				}
			}
		}
	}
</style>
