<template>
	<div class="gi-tab">
		<slot ref="content"></slot>
	</div>
</template>

<script>
	export default {
		props: {
			label: {
				type: String,
				default: ''
			},
			align: {
				type: String,
				default: 'baseline' // baseline|super|sub
			}
		}
	}
</script>

<style lang="sass">
	.gi-tab{
		padding: 5px;
	}
</style>
