<template>
	<div class="gi-tabs">
		<nav class="gi-tabs__navigation">
			<span class="gi-tabs__button"
				v-for="tab in tabs"
				:class="{
					'is-active': active == tab.$el.id,
					'is-super': tab.align == 'super',
					'is-sub': tab.align == 'sub'
				}"
				@click="setActive(tab.$el.id)"
			>
				{{ tab.label }}
			</span>
		</nav>

		<slot ref="tabs"></slot>
	</div>
</template>

<script>
	export default {
		data: () => ({
			active: '',
			tabs: []
		}),
		mounted() {
			this.tabs = this.$children;
			this.setActive(this.tabs[0].$el.id);
		},
		methods: {
			setActive(value) {
				this.active = value;

				this.tabs.forEach(tab => {
					if (tab.$el.id == this.active) {
						tab.$el.style.display = 'block';
					} else {
						tab.$el.style.display = 'none';
					}
				});
			}
		}
	}
</script>

<style lang="sass">
	.gi-tabs{
		&__navigation{
			border-top: 1px solid lightgrey;
			border-bottom: 1px solid lightgrey;
			display: flex;
		}
		&__button{
			background: transparent;
			border: 0;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			box-sizing: border-box;
			font-size: 13px;
			font-weight: 600;
			color: #898482;
			padding: 2px 25px;
			height: 32px;
			margin-top: -1px;
			margin-bottom: -1px;
			cursor: pointer;
			display: inline-flex;
			align-items: center;
			&.is-active{
				color: orange;
				border-color: #ff53c7;
			}
			&.is-super{
				font-size: 10px;
				align-items: flex-start;
			}
			&.is-sub{
				font-size: 10px;
				align-items: flex-end;
			}
		}

		@include grid-media($smartphone-grid){
			.gi-tabs{
				&__button{
					padding: 2px 15px;
				}
			}
		}
	}
</style>
