<template>
	<label class="gi-textarea"
		:class="{
			'gi-textarea--sm': size == 'small',
			'gi-textarea--md': size == 'medium',
			'gi-textarea--lg': size == 'large',
		}"
	>
		<span class="gi-textarea__label">
			{{ label }}
		</span>
		<textarea class="gi-textarea__input"></textarea>
	</label>
</template>

<script>
	export default {
		props: {
			label: {
				type: String,
				default: ''
			},
			size: {
				type: String,
				default: 'medium' // small|medium|large
			}
		}
	}
</script>

<style lang="sass">
	.gi-textarea{
		display: block;
		&__label{
			display: block;
			font-size: 14px;
			padding: 3px 0;
		}
		&__input{
			border-radius: 5px;
			background: white;
			border: 1px solid lightgrey;
			width: 100%;
		}
		&--sm{
			.gi-textarea{
				&__input{
					height: 180px;
					padding: 5px;
				}
			}
		}
		&--md{
			.gi-textarea{
				&__input{
					height: 280px;
					padding: 10px;
				}
			}
		}
		&--lg{
			.gi-textarea{
				&__input{
					height: 380px;
					padding: 15px;
				}
			}
		}
	}
</style>
