<template>
	<label class="gi-text">
		<span class="gi-text__label">
			{{ label }}
		</span>

		<input class="gi-text__input" :type="type" :value="value" @input="onChange">
	</label>
</template>

<script>
	export default {
		props: {
			label: {
				type: String,
				default: ''
			},
			type: {
				type: String,
				default: 'text'
			},
			value: {
				type: String,
				default: ''
			}
		},
		methods: {
			onChange(event) {
				this.$emit('input', event.target.value);
			}
		}
	}
</script>

<style lang="sass">
	.gi-text{
		display: flex;
		&__label{
			font-size: 13px;
			min-width: 150px;
			text-align: right;
			margin-right: 10px;
		}
		&__input{
			border-radius: 5px;
			border: 1px solid lightgrey;
			font-size: 13px;
			flex: 1;
			&:focus{
				background: #e8f0fe;
			}
		}

		@include grid-media($smartphone-grid){
			.gi-text{
				&__label{
					min-width: 100px;
				}
			}
		}
	}
</style>
