<template>
	<div class="gi-header">
		<div class="container">
			<h2 class="gi-header__menu">
				Top Menu
			</h2>
		</div>
	</div>
</template>

<script>
	export default {
		//
	}
</script>

<style lang="sass">
	.gi-header{
		background: black;
		&__menu{
			color: red;
			font-weight: 200;
			font-size: 20px;
			text-transform: lowercase;
			margin: 0;
			padding: 9px 0;
			@include grid-column(12);
		}
	}
</style>
