<template>
	<div class="gi-post-read">
		<gi-button suffix="<<<">
			my posts
		</gi-button>

		<table class="gi-post-read__table">
			<thead>
				<tr>
					<th>
						position
					</th>
					<th>
						project
					</th>
					<th>
						posted
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						Director
					</td>
					<td>
						Invisible enemy
					</td>
					<td>
						20 Feb 2017
					</td>
				</tr>
			</tbody>
		</table>

		<div class="gi-post-read__actions">
			<gi-button :dark="true">
				delete post
			</gi-button>

			<gi-button :dark="true">
				update
			</gi-button>
		</div>

		<gi-textarea label="post text" size="large">
		</gi-textarea>
	</div>
</template>

<script>
	export default {
	
	}
</script>

<style lang="sass">
	.gi-post-read{
		padding: 20px 0;
		&__table{
			width: 100%;
			box-sizing: border-box;
			padding: 0 20px;
			box-sizing: border-box;
			font-size: 13px;
			color: #898482;
			td, th{
				border-bottom: 2px dotted #898482;
				padding: 4px 0;
			}
			th{
				text-align: left;
			}
			td{
				color: black;
			}
		}
		&__actions{
			padding: 10px 35px;
			text-align: right;
		}
		.gi-textarea{
			margin: -25px 35px 10px;
		}

		// Tablet
		@include grid-media($tablet-grid){
			.gi-post-read{
				//
			}
		}

		// Smartphone
		@include grid-media($smartphone-grid){
			.gi-post-read{
				//
			}
			.gi-textarea{
				margin-top: 0;
			}
		}
	}
</style>
