<template>
	<form @submit="onSubmit" class="gi-post-create">
		<fieldset class="gi-post-create__fieldset">
			<gi-text label="Project name">
			</gi-text>

			<gi-select label="Type" :options="types" v-model="type">
			</gi-select>

			<gi-select label="Language" :options="langs" v-model="lang">
			</gi-select>
		</fieldset>

		<fieldset class="gi-post-create__fieldset">
			<gi-select label="Country" :options="countries" v-model="country">
			</gi-select>

			<gi-select label="City" :options="cities" v-model="city">
			</gi-select>
		</fieldset>

		<fieldset class="gi-post-create__fieldset gi-post-create__fieldset--groups">
			<gi-select class="gi-post-create__default" label="Group 1" :options="groups" v-model="group">
			</gi-select>

			<gi-select class="gi-post-create__default" label="Role 1" :options="roles" v-model="role_1">
			</gi-select>

			<gi-select label="Role 2" :options="roles" v-model="role_2">
			</gi-select>
		</fieldset>

		<small class="gi-post-create__note">
			You will be able to add more groups to this project later.
		</small>

		<gi-button :dark="true">
			Create
		</gi-button>
	</form>
</template>

<script>
	export default {
		data: () => ({
			types: [
				{ key: 'type-1', value: 'First type' },
				{ key: 'type-2', value: 'Second type' },
				{ key: 'type-3', value: 'Third type' },
			],
			langs: [
				{ key: 'pt_BR', value: 'Portuguese (Brazil)' },
				{ key: 'en_US', value: 'English (USA)' },
				{ key: 'en', value: 'English (International)' }
			],
			countries: [
				{ key: 'brazil', value: 'Brazil' },
				{ key: 'united-states', value: 'United States' },
				{ key: 'canada', value: 'Canada' },
				{ key: 'japan', value: 'Japan' }
			],
			cities: [
				{ key: 'tokyo', value: 'Tokyo' },
				{ key: 'sao-paulo', value: 'São Paulo' },
				{ key: 'new-york', value: 'New York' },
				{ key: 'ottawa', value: 'Ottawa' }
			],
			groups: [
				{ key: 'production', value: 'Production' },
				{ key: 'development', value: 'Development' },
				{ key: 'staging', value: 'Staging' },
			],
			roles: [
				{ key: 'member', value: 'Member' },
				{ key: 'operator', value: 'Operator' },
				{ key: 'editor', value: 'Editor' },
				{ key: 'admin', value: 'Admin' }
			],
			type: null,
			lang: null,
			country: null,
			city: null,
			group: null,
			role_1: null,
			role_2: null
		}),
		methods: {
			onSubmit(event) {
				event.preventDefault();
			}
		}
	}
</script>

<style lang="sass">
	.gi-post-create{
		padding: 20px 160px 20px 0;
		&__fieldset{
			background: #f3ebe6;
			border: 0;
			padding: 5px 80px 5px 150px;
			box-sizing: border-box;
			margin-bottom: 10px;
			text-align: right;
			width: 100%;
			margin-left: 0;
			&--groups{
				margin-top: 20px;
			}
			.gi-text,
			.gi-select{
				margin-bottom: 5px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		&__default{
			position: relative;
			&:first-child{
				&:after{
					content: "(default)*"
				}
			}
			&:after{
				content: "(default)";
				position: absolute;
				left: 100%;
				font-size: 13px;
				color: #898482;
				margin-left: 5px;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
		&__note{
			font-size: 10px;
			width: 170px;
			padding-left: 10px;
			display: inline-block;
			position: relative;
			margin-left: 10px;
			&:before{
				content: "*";
				position: absolute;
				left: 0;
				top: 0;
			}
		}
		.gi-button{
			margin-top: 10px;
			float: right;
		}

		// Small desktop
		@include grid-media($small-desktop-grid){
			padding-right: 70px;
		}

		// Tablet
		@include grid-media($tablet-grid){
			padding-right: 0;
			.gi-post-create{
				&__fieldset{
					padding-left: 0;
				}
			}
		}

		// Smartphone
		@include grid-media($smartphone-grid){
			padding-right: 0;
			.gi-post-create{
				&__fieldset{
					padding-left: 0;
					padding-right: 0;
				}
				&__default{
					&:after{
						content: none;
					}
				}
			}
		}
	}
</style>
