<template>
	<div class="gi-app">
		<gi-header>
		</gi-header>

		<div class="container">
			<div class="gi-app__body">
				<gi-tabs>
					<gi-tab id="tab-01" label="tab_01">
						<gi-post-read>
						</gi-post-read>
					</gi-tab>

					<gi-tab id="tab-02" label="tab_02" align="super">
					</gi-tab>

					<gi-tab id="tab-03" label="tab_03" align="sub">
					</gi-tab>

					<gi-tab id="tab-04" label="create">
						<gi-post-create>
						</gi-post-create>
					</gi-tab>
				</gi-tabs>
			</div>
		</div>

		<gi-footer>
		</gi-footer>
	</div>
</template>

<script>
	export default {
		components: {
			'gi-header': require('components/header/Header'),
			'gi-footer': require('components/footer/Footer'),
			'gi-post-read': require('components/post/PostRead'),
			'gi-post-create': require('components/post/PostCreate')
		}
	}
</script>

<style lang="sass">
	@import "src/stylesheet/defaults";
	@import "src/stylesheet/third-party";

	.gi-app{
		&__body{
			min-height: 610px;
			margin: 15px auto;
			position: relative;
			@include grid-column(8);
			@include grid-push(2);
			&:before{
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				border: 1px solid lightgrey;
				background: white;
				z-index: -1;
			}
		}

		// Tablet
		@include grid-media($tablet-grid){
			.gi-app{
				&__body{
					@include grid-column(12);
				}
			}
		}

		// Smartphone
		@include grid-media($smartphone-grid){
			.gi-app{
				&__body{
					min-height: 300px;
					@include grid-column(12);
				}
			}
		}
	}
</style>
